//====================================================================================================
.logo {
	display: flex;

	// .logo__link
	&__link {
		width: 100%;
		position: relative;
		padding-bottom: percent(60, 80);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	a.logo__link {
		display: inline-block;
		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	// .logo__image
	&__image {
		// .logo__image_dark
		&_dark {
			.dark & {
				display: none;
			}
		}

		// .logo__image_white
		&_white {
			display: none;

			.dark & {
				display: block;
			}
		}
	}
}

.header {
	padding-top: rem(10);
	padding-bottom: rem(10);
	@include adaptiveValue("height", 120, 80, 1512, 768, 1);
	position: relative;
	display: flex;
	align-items: center;
	z-index: 5;

	@media (max-width: $mobile) {
		height: rem(70);
	}

	// .header__container
	&__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: rem(1420);

		& > * {
			&:not(:last-child) {
				@include adaptiveValue("margin-right", 40, 20, 1512, 768, 1);
			}
		}
	}

	// .header__logo
	&__logo {
		width: 100%;
		@include adaptiveValue("max-width", 80, 60);
	}

	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@media (max-width: $mobile) {
			position: fixed;
			z-index: 2;
			top: -150%;
			left: 0;
			right: 0;
			background: $White;
			height: 100%;
			min-height: 100vh;
			overflow-y: auto;
			padding: 0 rem(math.div($containerPadding, 2)) rem(64);
			padding-top: rem(90);
			display: grid;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: center;
			transition: 0.5s ease top 0s;

			&::before {
				content: "";
				background: $White;
				height: rem(70);
				position: fixed;
				z-index: 2;
				top: -150%;
				left: 0;
				right: 0;
				transition: 0.5s ease top 0s;
			}

			.menu-open & {
				top: 0;

				&::before {
					top: 0;
				}
			}
		}

		& > * {
			&:not(:last-child) {
				@media (min-width: $mobile) {
					@include adaptiveValue("margin-right", 40, 20, 1512, 768, 1);
				}
				@media (max-width: $mobile) {
					margin-bottom: rem(40);
				}
			}
		}

		.menu__list {
			@media (min-width: $mobile) {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				margin: rem(-5) rem(-15);
				@include adaptiveValue("margin-left", -15, -10);
				@include adaptiveValue("margin-right", -15, -10);
			}
			@media (max-width: $mobile) {
				display: grid;
				align-content: flex-start;
				row-gap: rem(24);
			}

			li {
				@media (min-width: $mobile) {
					@include adaptiveValue("padding-left", 10, 5);
					@include adaptiveValue("padding-right", 10, 5);
				}
			}

			a {
				color: $Blue;

				@media (max-width: $mobile) {
					font-size: rem(24);
					text-align: center;
				}

				.dark & {
					@media (min-width: $mobile) {
						color: $White;
					}

					@media (any-hover: hover) {
						&:hover {
							color: $Orange;
						}
					}
				}
			}
		}
	}

	// .header__btn
	&__btn {
		a {
			color: $Blue;
			border-color: $Blue;

			@media (max-width: $mobile) {
				font-size: rem(18);
			}

			.dark & {
				@media (min-width: $mobile) {
					color: $White;
					border-color: $White;
				}

				@media (any-hover: hover) {
					&:hover {
						color: $Orange;
						border-color: $Orange;
					}
				}
			}
		}
	}

	&._header-scroll {
		position: fixed;
		left: 0;
		right: 0;
		top: -150%;
		background-color: $White;
		box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
		transition: 0.5s ease top 0s;

		& + .page {
			@include adaptiveValue("padding-top", 120, 80, 1512, 768, 1);
		}

		.menu__list {
			a {
				color: $Black;
			}
		}

		.header__btn a {
			color: $Blue;
			border-color: $Blue;

			@media (any-hover: hover) {
				&:hover {
					color: $Orange;
					border-color: $Orange;
				}
			}
		}

		.logo__image_dark {
			display: block;
		}
		.logo__image_white {
			display: none;
		}
	}

	&._header-show {
		top: 0;
	}
}

.menu {
	// .menu__list
	&__list {
		li {
			margin: rem(-5);
		}

		a {
			display: block;
			padding: rem(5);
			@include adaptiveValue("font-size", 18, 14);
			line-height: math.div(23, 18);

			@media (any-hover: hover) {
				transition: $transition ease color 0s;

				&:hover {
					color: $Orange;
				}
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	margin-right: 0 !important;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(22);
		cursor: pointer;
		z-index: 5;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(4);
			background-color: $Blue;

			.dark & {
				background-color: $White;
			}

			._header-scroll & {
				background-color: $Blue;
			}

			.menu-open & {
				background-color: $Blue;
			}
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(2));
		}

		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(2));
				transform: rotate(45deg);
			}
		}
	}
}
